@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
}

#divider {
  color: white;
  font-weight: bold;
}

#min,
#sec {
  background-color: rgb(87, 87, 255);
  margin: 0rem 0.3rem;
  padding: 0.7rem;
  color: white;
  border-radius: 4px;
  font-size: 48px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
